/* 공통적으로 들어가는 스타일 */
:root{
    --main-pink-color: #FF99C2;
    --main-blue-color: #84C3EB;
    --main-yellow-color: #F4F2BB;
    --main-font-color: #444;
    --light-font-color: #fff;
    --bg-color: #F7F5F1;
    --detail: 0.9rem
    
}
html{
    font-size: 20px;
    font-family: "Paperlogy", sans-serif;
    color: var(--main-font-color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}
h1{
    font-size: 1.3rem;
    font-weight: bold;
}
h2{
    font-size: 1.2rem;
    font-weight: bold;
}
h3{
    font-size: 1.1rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
}
p{
    line-height: 140%;
}
.detail{
    font-size: 0.9rem;
}
button{
    font-size: 0.8rem;
}
strong{
    color: var(--main-color2);
}

/* 공통스타일 */
.pinkBox{
    background-color: var(--main-pink-color);
    color: var(--main-yellow-color);
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-yellow-color);
    border-radius: 30px;
}
.blueBox{
    background-color: var(--main-blue-color);
    color: var(--main-yellow-color);
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-yellow-color);
    border-radius: 30px;
}
@keyframes swing {
    0%   { transform: rotate(0deg); }
    20%  { transform: rotate(-10deg); }
    40%  { transform: rotate(5deg); }
    60%  { transform: rotate(-5deg); }
    80%  { transform: rotate(3deg); }
    100% { transform: rotate(-10deg); }
  }
  
.pinkBox,
.blueBox {
    display: inline-block;
    transition: transform 0.3s ease;
}
  
.pinkBox.swingOnce, .blueBox.swingOnce {
    animation: swing 0.7s cubic-bezier(0, 1, 0.4, 1.03) 0s 1;
}

.commonFrame {
    width: 1400px;
    margin: 0 auto;
    padding-top: 6rem;
    box-sizing: border-box;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    7.69% {
        transform: rotate(9deg);
    }
    15.38% {
        transform: rotate(-9deg);
    }
    23.07% {
        transform: rotate(7.5deg);
    }
    30.76% {
        transform: rotate(-7.5deg);
    }
    38.45% {
        transform: rotate(6deg);
    }
    46.14% {
        transform: rotate(-6deg);
    }
    53.83% {
        transform: rotate(4.5deg);
    }
    61.52% {
        transform: rotate(-4.5deg);
    }
    69.21% {
        transform: rotate(3deg);
    }
    76.90% {
        transform: rotate(-3deg);
    }
    84.59% {
        transform: rotate(1.5deg);
    }
    92.28% {
        transform: rotate(-1.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}





@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}