/* 탭/패드 화면에 적용될 스타일 
1024px 이상 -> 데스크탑
768~1024px ->탭 패드
768px 미만 -> 모바일
*/
@media (max-width:1400px) {
    html{
        font-size: 18px;
    }
    .commonFrame{
        width: auto;
        padding: 0 1rem;
        padding-top: 6rem;
    }
    .heroBanner {
        height: 600px;
        background: url(../img/heroBanner.jpg) no-repeat 50% 50% / cover;
    }
    .aboutme{
       gap: 2rem;
       padding: 2rem;
    }
    .aboutme1>span{
        font-size: 8rem;
    }
    .aboutme2{
        gap: 2rem;
    }
    .skillandTolls{
        padding: 2rem;
    }
    .otherEx{
        padding: 2rem;
    }
    .bannerCon>div {
        grid-template-columns: 270px 1fr 270px;
        gap: 2rem;
    }
    .forestToneBottomTxt>section {
        font-size: inherit;
    }
}
@media (max-width:1200px) {
    body{
        background: url("../img/bg_blue.png") no-repeat 50% 4.6%,
        url("../img/bg_pink.png") no-repeat  50% 13%;
    }
}
@media (max-width:1000px) {
    body{
        background: url("../img/bg_blue.png") no-repeat 50% 5.3%,
        url("../img/bg_pink.png") no-repeat  50% 13%;
    }
}
@media (max-width:950px){
    body{
        background: url(../img/bg_blue.png) no-repeat 37% 5.7%, url(../img/bg_pink.png) no-repeat 24% 18%;
    }
    .aboutme{
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    .aboutme1>img{
        height: auto;
    }
    .skillToolBox ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .popupList {
        grid-template-columns: repeat(2, 1fr);
    }
    .bannerCon>div {
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
    .bannerCon dl>dd span{
        margin-bottom: .5rem;
    }
    
}